<% title 'My tamas' %>

<ul>
  <%- @current_owner.tamas.each do |my_tama| -%>
  <li>Look at <%= link_to "#{my_tama.name.capitalize}", owner_tama_path(@current_owner, my_tama) %></li>
  <%- end -%>
</ul>