<% title "New Tutorial" %>
<% javascript 'new_tutorial' %>

<% form_for @tutorial do |f| %>
  <%= f.error_messages %>

  <%= render :partial => "form_for_tama", :collection => 3.times %>

  <p><%= f.submit %></p>
<% end %>